*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  color: #fff;
  font-size: 14px;
}
.container{
  text-align: center;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 5px;
  background-color: rgba(0,0,0,0.3);
  height: 100%;
  position: absolute;
}
.hongbao{



  height: 450px;
  width: 300px;
  
  background: #A5423A;

  left: 0;
  top: 0;
  border-radius: 10px;
  margin: 0 auto;
}
.topcontent{
  height: 280px;
  border: 1px solid #BD503A;
  background-color: #BD503A;
  border-radius: 10px 10px 50% 50% / 10px 10px 15% 15%;
  box-shadow: 0px 4px 0px -1px rgba(0,0,0,0.2);
}
.avatar{
  position: relative;
}
.avatar span{
  position: absolute;
  top: 10px;
  right: 15px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 2em;
  font-weight: bolder;
}
#close{
  color: rgba(0,0,0,0.5);
}
.avatar img{
  border: 1px solid #BD503A;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 10%;
}
.topcontent h2{
  margin: 15px 0;
}
.text{
  color: #999;
}
.description{
  margin: 15px 0;
  font-size: 16px;
  font-weight: 600;
}
#chai{
  width: 100px;
  height: 100px;
  border: 1px solid #FFA73A;
  background-color: #FFA73A;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  margin-top: -50px;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
}
#chai span{
  margin-top: 35px;
  display: inline-block;
}
.rotate{
  -webkit-animation: anim .6s infinite alternate;
      -ms-animation: anim .6s infinite alternate;
          animation: anim .6s infinite alternate;
}
@-webkit-keyframes anim {
  from { -webkit-transform: rotateY(180deg); }
  to { -webkit-transform: rotateY(360deg); }
}
@-ms-keyframes anim {
  from { -ms-transform: rotateY(180deg); }
  to { -ms-transform: rotateY(360deg); }
}
@keyframes anim {
  from { transform: rotateY(180deg); }
  to { transform: rotateY(360deg); }
}
