<!DOCTYPE HTML>
<html>
<head>
<title>adBangBang 付款页面</title>
<link href="./css/bootstrap.css" rel='stylesheet' type='text/css' />
 <!-- Custom Theme files -->
<link href="./css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">

</script>

</head>
<body>


			<!-- slider -->
	<!----- //End-banner---->
	<!----- /start-services---->
			 <div id="services" class="Services">
	 			<div class="container">
	 					<div class="service-head">
	 						<h2>定制您的分享推广方案，从此轻松做分享经济时代的赢家！</h2>
	 					</div>
		 			<div class="service-grids">
			 				<div class="col-md-3 service-grid">
			 					<i class="icon1"> </i>
			 					<h3>Sites the world</h3>
			 				</div>
			 					<div class="col-md-3 service-grid">
			 					<i class="icon2"> </i>
			 					<h3>Shopping</h3>
			 				</div>
			 				<div class="col-md-3 service-grid">
			 					<i class="icon3"> </i>
			 					<h3>Photography</h3>
			 				</div>
			 				<div class="col-md-3 service-grid">
			 					<i class="icon4"> </i>
			 					<h3>Find the best</h3>
			 				</div>
		 				<div class="clearfix"> </div>
		 			</div>
	 			</div>
			 </div>
	<!----- //End-services---->
		<!----- /start-footer---->
				<div class="footer">
						<div class="container">
							<div class="copy-right">
								<p>Copyright &copy; 2016.Adbangbang.com All rights reserved. <a target="_blank" href="http://adbangbang.com/">http://adbangbang.com/</a></p>
							</div>
						</div>
					</div>


					<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</body>
</html>
